
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(79, 5, 47);
    color: white;
    font-family:'Courier New', Courier, monospace
}

h1 {
    font-size: 4rem;
}

.container {
    position: relative;
    text-align: center;
    width: 400px;
}

.counter {
    font-size: 40px;
}

.loading-bar-back {
    position: absolute;
    height:12px;
    background-color: lightgray;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.loading-bar-front {
    position: absolute;
    height: 12px;
    background-color: rgb(203, 190, 12);
    
    width: 0%;
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 40px;
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    transition: all 0.35s linear;
    cursor: pointer;
    color: rgb(79, 5, 47);
    
}

button:hover {
    color: rgb(234, 14, 142);
    transform: scale(1.07);
}

.source-btn {
    margin: 60px auto;
    padding: 14px 24px;
    display: block;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(79, 5, 47);
    border: solid 1px white;
    text-decoration: none;
    transition: all 0.35s linear;
    border-radius: 4px;
}

.source-btn:hover {
    color: rgb(234, 14, 142);
    transform: scale(1.07);
}